<header>
  <h1 class="header">Dave Mitchell</h1>
  <p class="header">mitchelld@acm.org</p>
  <ul>
    <li><a class="buttons bitbucket" href="https://bitbucket.org/digitalbias">Bitbucket Profile</a></li>
    <li><a class="buttons github" href="https://github.com/digitalbias">GitHub Profile</a></li>
  </ul>
  
  <li><a href="/" class='buttons home'>Home</a></li>

  <h2 class="header">Posts</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}" class='post'>{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</header>
